* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(132, 165, 172);
  color: rgb(59, 57, 57);
  font-family: "Merriweather", serif;
}

.noteForm{
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  gap: 5px
}


h1 {
  text-align: center;
}

#head, #text, #add, #clear{
  border-radius: 10px;
  padding: 7px;
}
#clear{
  width: 40px;
  margin-left: 10px;
}

#head:focus{
  border: 2px solid violet;

}
.btns{
  display: flex;
}

#add{
  flex-grow: 1;
}

.a{
 
  
 position: fixed;}


.note {
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.notes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.3rem;
  margin: 10px;
  
}

.note {
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background-color: #f4f4f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  
}
.note:hover{
  box-shadow:0 5px 8px #2f363d ;
}


.zagolovok {
  font-size: 20px;
  font-weight: bold;
  color: rgb(51, 48, 48);
  text-align: center;
  border-bottom: 1px solid black;
  
}

.knopka {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 2px;
}
.knopka button{
  /* transform: scale(1.2); */
  flex-grow: 1;
  border:  1px solid black;
  border-left: none;
  
}

.knopka button:first-child {
  border-left: 1px solid black;
}
.knopka i{
  margin: 5px 0;
}
.note ul{
  padding-left: 10px;
}

.note.true{
  text-decoration: line-through;
  opacity: 0.5;
  color: gray;
}
/* .text ::before {
  text-decoration:dotted;
} */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
#overlay-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #2f363d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #414a53;
}

#redtitle {
  border-radius: 30px;
  text-align: center;
}

#redtext {
  border-radius: 30px;
  text-align: center;
}

.element {
  animation: changeColor 2s infinite;
}

#add:hover{
  background-color: #78ca8f;
  transform: scale(1.03);
  transition: all 0.5s;
}

#clear:hover{
  background-color: #e96363;
  transform: scale(1.07);
  transition: all 0.5s;
}

.knopka button:hover{
  background-color: #bbbae8;
  transform: scale(1.07);
  transition: all 0.5s;
  border-right: none;

}

